.container {
    display: grid;
    /*grid-template-rows:100px 400px 100px;*/ 
    grid-template-rows: auto 1fr auto; 
    grid-template-columns: 200px 1fr;
    height: 100vh;
}

header{
    background: RED;
    padding:1em;
    grid-row: 1 / 2;
    grid-column: 1 /3;
}

aside{
    background: purple; 
    padding:1em;
    grid-row: 2/3;
    grid-column: 1 / 2;
}

main{
    background-image: ('');
    
    background: gray; 
    padding:1em;
    grid-row: 2 /3;
    grid-column: 2/3;
    display: grid; 
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr); 
}

.section-one{
    background: black;
    color: white;
    grid-row: 7/11;
    grid-column: 3/5; 
}

.section-two{
    background: white;
    color: black
}



footer{
    background: pink;
    padding:1em;
    grid-row: 3 /4;
    grid-column: 1/ 3;
}

